<% if current_user.premium? %>
    <small>
    <ul>
      <li><%= "You currently have  #{current_user.wikis.where(private: true).count.to_s} private wikis" %></li>
      <li>Any private wikis will become public if you downgrade.</li>
    </ul>
    </small>
    <br>
      <%= button_to 'Downgrade Now', downgrade_plan_path, data: { confirm: "Your private Wikis will be public. Downgrade now?" }, class: 'btn btn-warning', method: :get  %>
<% end %>
<% if current_user.standard? %>
  <h4>Get Blocipedia Premium for $15</h4>
  <ul>
    <li>Create private Wikis</li>
    <li>Do other stuff</li>
    <li>One more bullet point</li>
  </ul>
<% end %>
    <%= button_to "Upgrade Now", new_charge_path, class: 'btn btn-success', method: :get %>
